{% load static %}
 {% load bootstrap %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'stick-footer.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'signin.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<br>
<br>
  <div class="container">
      <div class="jumbotron" style="background-color: #DCDCDC">
{% block main %}


            <div class="row" align="center">
              <div class="col-sm"></div>
                <div class="col-sm border">
                    <h1> COOPERATE </h1>
                        <form  method = "POST" class="form-">
                             {% csrf_token %}
                             {{form | bootstrap}}
                            <button type="submit" class="btn btn-info">Entrar</button>
                        </form>
                </div>
              <div class="col-sm"></div>
           </div>


{% endblock %}
           </div>
      </div>

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Cooperate Software de Gestão</span>
      </div>
    </footer>
{% endblock %}

</body>
</html>