{% extends 'base.html' %}
 {% block main %}
  <div class="container">



         <table class="table">
          <thead class="thead-dark">
            <tr>

              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>

            </tr>
          </thead>

        {% for conta in object_list %}
          <tbody>
            <tr>

              <td> <a href="{% url 'detail_conta_pagar' conta.id %}" style="color:black; font-size:20px"> {{ conta.nome }} </a> </td>
              <td>{{ conta.descricao }}</td>

            </tr>


          </tbody>

    </table>


        {% endfor %}

  </div>
{% endblock %}