{% extends 'base.html' %}


 {% block main %}


  <div class="container">

           <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Administrador</th>
                  <th scope="col">Família</th>
                </tr>
              </thead>

              <tbody>
             {% for prop in object_list %}
              {% if prop.proprietario.cooperativa == user.funcionario.cooperativa %}
                <tr>
                  <th scope="row">{{ prop.id }}</th>
                    <td> <a href="{% url 'detalhes_propriedade' prop.id %}" style="color:black">{{ prop.nome }}</a> </td>
                    <td> <a href="{% url 'detalhes_membro' prop.responsavel_id %}" style="color:black"> {{ prop.responsavel }}</a></td>
                    <td> {{ prop.proprietario }} </td>
                </tr>
              {% endif %}
              </tbody>

             {% empty %}
               Nenhuma Propriedade cadastrada!
             {% endfor %}
           </table>

  </div>

 {% endblock %}