{% extends 'base.html' %}


 {% block main %}


  <div class="container">

           <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Propriedade</th>
                </tr>
              </thead>

              <tbody>
             {% for cultura in object_list %}
               {% if cultura.propriedade.proprietario.cooperativa %}

                <tr>
                  <th scope="row">{{ cultura.id }}</th>
                    <td> <a href="" style="color:black">{{ cultura.nome }}</a> </td>
                    <td> <a href="" style="color:black"> {{ cultura.tipo }}</a></td>
                    <td> <a href="" style="color:black"> {{ cultura.quantidade }}</a></td>
                    <td> {{ cultura.propriedade }} </td>
                </tr>
               {% endif %}
              </tbody>

             {% empty %}
               Nenhum rebanho cadastrado!
             {% endfor %}
           </table>

            <a href="{% url 'create_rebanho' %}" style="color:black">
      <i class="fa fa-plus-square" aria-hidden="true" style="font-size:30px;"></i>
    </a>
  </div>

 {% endblock %}