{% load i18n %}


<!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="{% url 'home'%}"><i class="fa fa-recycle" aria-hidden="true" style="font-size:15px">COOPERATE</i></a>


      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list_familia' %}">Pessoal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_ambiental' %}">Ambiental</a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="{% url 'list_cliente' %}">Clientes</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'select' %}" >Financeiro</a>

          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Relatórios</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Relatório Contas a pagar</a>
              <a class="dropdown-item" href="#">Relatório Contas a receber</a>
              <a class="dropdown-item" href="#"> Relatório Contas financeiras</a>
              <a class="dropdown-item" href="#">Relatório de bens</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Planejamento</a>
          </li>
          <li class="nav-item">
                 <a class="nav-link" >Bem-vindo! {{ user.funcionario }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sair</a>

            </li>
        </ul>
        <!-- Links -->

      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->