{% extends 'base.html' %}
{% load static %}
 {% load bootstrap %}
{% block main %}

 <div class="form-group">

   <form method="post" class="px-4 py-3">
    {% csrf_token %}
    {{ form | bootstrap }}
       {% if object %}
        <a href="{% url 'create_membro' object.id %}">
            <i class="fa fa-user-plus" aria-hidden="true" style="color:black; font-size:30px"></i>
        </a>&nbsp&nbsp&nbsp

           {% if object.propriedade_set.all %}
            {% for propriedade in object.propriedade_set.all %}
                {% if propriedade %}
                    <a href="{% url 'detalhes_propriedade' propriedade.id %}" class="btn btn-outline-secondary">{{ propriedade.nome }}</a>
                {% endif %}
            {% endfor %}
           {% else %}
              <a href="{% url 'create_propriedade' object.id %}" class="btn btn-secondary">Cadastrar Propriedade</a>
           {% endif %}
       {% endif %}
        &nbsp&nbsp&nbsp
        <button type="submit" class="btn btn-outline-light">
            <i class="fa fa-floppy-o" aria-hidden="true" style="font-size:30px; color:black"></i>
        </button>
   </form>



 </div>

{% endblock %}