{% extends 'base.html' %}
 {% block main %}
  <div class="container border table">

      <div class="row border">
          <div class="col-sm border">
              <h3>Familias</h3>
          </div>
          <div class="col-sm border">
              <h3>Data de Cadastro</h3>
          </div>
          <div class="col-sm border">
              <h3>Ações</h3>
          </div>
      </div>

      {% for familia in object_list %}
       <div class="row">
        <div class="col-sm border">
            <a href="{% url 'list_membro' familia.id%}"> {{ familia }}</a>
        </div>
        <div class="col-sm border">
            <p> {{ familia.dataDeCadastro }}</p>
        </div>
        <div class="col-sm border">
            <a href="{% url 'update_familia' familia.id %}" class="btn btn-info">Editar</a>
            <a href="{% url 'delete_familia' familia.id %}" class="btn btn-danger">Excluir</a>

        </div>
       </div>
      {% empty %}
          Não há registros.
      {% endfor %}

      <a href="{% url 'create_famila' %}" class="btn btn-success">Cadastrar familia</a>

  </div>

  {% endblock %}