{% extends 'base.html' %}


 {% block main %}


  <div class="container">
        <h3>Família {{ object }}</h3>
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody>
          {% for membro in object_list %}
            <tr>
              <th scope="row">{{ membro.id }}</th>
              <td>{{ membro.nome }}</td>
             {% if membro.propriedade_set.all %}
              <td>Administrador</td>
             {% else %}
               <td> </td>
             {% endif %}
            </tr>
          {% empty %}
            Nenhum membro cadastrado!
          {% endfor %}
          </tbody>
      </table>
  </div>

 {% endblock %}