{% extends 'base.html' %}


 {% block main %}


  <div class="container border table">
            <div class="row">
                <div class="col-sm border">
                        <h3>Membros</h3>
                    </div>
                    <div class="col-sm border">
                        <h3>Data de Nascimento</h3>
                    </div>
            </div>
      {% for membro in object_list %}
            <div class="row">
                    <div class="col-sm border">
                        <a href="">{{ membro }}</a>
                    </div>
                    <div class="col-sm border">
                        <a href="">{{ membro.dataDeNascimento }}</a>
                    </div>
            </div>
      {% empty %}
          Não há registros.
      {% endfor %}
  </div>
  <div>
      <a href="{% url 'create_membro' %}" class="btn btn-success">Adicionar Membro</a>
  </div>
 {% endblock %}